{% extends "network/layout.html" %}
{% load static %}

{% block title %}
All Posts - Network
{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="{% static 'network/index.css' %}">
  <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock head %}

{% block body %}

{% if user.is_authenticated %}
<div class="post-container">
<div class="profile-info">
  <div class="profile-letter" style="background-color: rgb(0, 0, 0);">
    <span>{{ user.username|slice:":1" }}</span>
  </div>
  <div class="user-info">
    <div>
      <span><a href="user-profile-url">{{ user.username }}</a></span>
    </div>
  </div>
</div>
<form action="{% url 'new_post' %}" method="post">
  {% csrf_token %}
  <textarea class="new-post-text" name="content" id="new-post-textarea" placeholder="Write new Post" required></textarea>
  <div class="new-post-button">
    <button type="submit" id="post-submit-button" style="display: none;">Post</button>
  </div>
</form>
</div>
<script>
  const postTextArea = document.getElementById('new-post-textarea');
  const postButton = document.getElementById('post-submit-button');

  postButton.style.display = postTextArea.value.trim() ? 'inline-block' : 'none';

  postTextArea.addEventListener('input', () => {
    postButton.style.display = postTextArea.value.trim() ? 'inline-block' : 'none';
  });
</script>
{% endif %}


  <h1 class="pageHeading"><i data-feather="trending-up"></i><span></span>All Posts</h1>

  <!-- Posts React App -->
  <div id="App"></div>

  <script type="text/babel">


    // A post Component 
    function Post({postData}) {

      const [likes, setLikes] = React.useState(postData.likes)
      const [isLiked, setIsLiked] = React.useState(postData.is_liked)
      const [comments, setComments] = React.useState(postData.comments)
      const [content, setContent] = React.useState(postData.content)

      const profileLetterStyle = {
        backgroundColor: postData.poster.color || '#3498DB'
      };


      let c = isLiked ? 'red' : 'none'
      
      const heartStyle = {
        fill: c
      }

      function likePost() {
        fetch(`/like-post?post_id=${postData.id}`)

        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to fetch posts');
          }
          return response.json();
        })
        .then(data => {
          setLikes(data.likes)
          setIsLiked(data.is_liked)
        })
      }
      const heartColor = isLiked ? "red" : "none";
      const likeText = isLiked ? "Liked" : "Like"


      return (
        <div className="post-container">
        <div className="profile-info">
          <div className="profile-letter" style={profileLetterStyle}>
            <span>{postData.poster.username.charAt(0).toUpperCase()}</span>
          </div>
          <div className="user-info">
            <div>
              <span><a href={`/user/${postData.poster.id}/profile`}>{postData.poster.username}</a></span>
              <span>&middot;</span>
              <span><a className="follow-link" href={`/${postData.poster.id}/follow`}>Follow</a></span>
            </div>
            <div className="profile-time-div">
              <span>{new Date(postData.update_at).toLocaleString()}</span>
            </div>
          </div>
        </div>
        <div className="post-content-div">{postData.content}</div>

        <div class="reaction-data">
      <div class="like-count">
        <i data-feather="heart"></i>
        <span>{likes}</span>
      </div>
      <div class="comment-count">
        <span>{comments} Comments</span>
      </div>
    </div>
    <hr/>
    <div class="reactions">
      <div class="like-btn-container" onClick={likePost}>
        <div>
          <div class="like-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill={heartColor} stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
            <span>{likeText}</span>
            </div>
        </div>
      </div>
      <div class="comment-btn-container">
        <div>
          <div class="comment-btn"><i data-feather="message-square"></i><span>Comment</span></div>
        </div>
      </div>
    </div>

      </div>
      );
    }

    // Pagination Button Component
    function Pagination({pageInfo, loadFun}) {

      function pageChange(toPage) {
        if (toPage > 0 && toPage <= pageInfo.total_pages) {
          loadFun(toPage)
        }
      }

      return (
        <div className="pagination">
          <button onClick={() => pageChange(pageInfo.current_page - 1)} >&lArr;Back</button>
          <span>{pageInfo.current_page} of {pageInfo.total_pages}</span>
          <button onClick={() => pageChange(pageInfo.current_page + 1)}  >Next&rArr;</button>
        </div>
      )
    }


    // Posts App for loading and Managing posts

    function PostsApp() {

      const [isLoading, setLoading] = React.useState(true)
      const [postList, setPostList] = React.useState([])
      const [pageData, setPageData] = React.useState({
        currentPage: 1,
        totalPage: 1,
        hasPrevious: false,
        hasNext: false
      })
      
      // Function for loading Post data and Page data then setting them in state
      function loadPostData(pageNumber = 1) {

        setLoading(true)
        fetch(`/posts?page=${pageNumber}`)
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to fetch posts');
          }
          return response.json();
        })
        .then(data => {
          setPostList(data.posts)
          setPageData(data.page_data)
          setLoading(false)
        })
      }



      React.useEffect(() => {
        loadPostData();
      }, []);

      React.useEffect(() => {
        feather.replace();
      }, [postList]);



      if (isLoading) {
        return (
          <div className="loading-div">Loading...</div>
        )
      }

      if (postList.length === 0) {
        return (
          <div>There are no Post. <a href="/#new-post-textarea">Post Something.</a></div>
        )}

      return (
        <>
          {postList.map(post => (
            <Post key={post.id} postData={post} />
          ))}
          <Pagination pageInfo={pageData} loadFun={loadPostData}/>
          </>
        )
    }


    ReactDOM.createRoot(document.getElementById('App')).render(<PostsApp />);
  </script>
{% endblock %}