{% extends "network/layout.html" %}
{% load static %}

{% block title %}Network - All Posts{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'network/index.css' %}">
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock %}
{% block body %}
<div id="app"></div>

<script type="text/babel" src="{% static 'network/Components/post.jsx' %}"></script>


{% endblock %}